.categorySquare {
  background-color: var(--main-blue);
  color: white;
  border: 2px solid var(--dark-navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 14%;
  /* height: 16.6%; */
}

.categoryText {
  margin: auto 10px;
  font-size: 1.2rem;
  text-align: center;
}
