.playSquare {
  background-color: var(--main-blue);
  border: 2px solid var(--dark-indigo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.value {
  color: #ffcc00;
}

.question {
  color: white;
}

.answer {
  color: white;
}
