.playSquare {
  background-color: var(--main-blue);
  border: 2px solid var(--dark-navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 17.2%;
  /* height: 16.6%; */
}

.playSquare:hover {
  cursor: pointer;
}

.value {
  color: #ffcc00;
  margin: auto 0;
  font-size: 3rem;
  transition: all 0.5s ease;
}

.value:hover {
  color: var(--dark-pink);
}

.question {
  color: white;
  margin: auto 10px;
  font-size: 0.8rem;
}

.answer {
  color: white;
  margin: auto 0;
  margin: auto 10px;
  font-size: 1.2rem;
}
